<title>Create Song</title> 

<p class='white-text'> Create Song </p>

<style>
    label {
        width: 10%;
        display: inline-block;
    }
</style>

<form class='white-text' method='POST' action='/api/create/song/' enctype="multipart/form-data">
    <label for='song_title'> Song Title: </label>
    <input type='text' name='song_title'><br>
    <label for='album_title'> Album Title: </label>
    <input type='text' name='album_title'><br>
    <label for='artist_name'> Artist Name: </label>
    <input type='text' name='artist_name'><br>
    <label for='song_source' name='song_source'> Source File: </label>
    <input type='file' name='song_source'><br>

    <input type='submit' value='Submit Song'>
</form>
