<title>Create Album</title> 

<p class='white-text'> Create Album </p>

<style>
    label {
        width: 10%;
        display: inline-block;
    }
</style>

<form class='white-text' method='POST' action='/create/album' enctype='multipart/form-data'>
    <label for='album_title'> Album Title: </label>
    <input type='text' name='album_title'><br>
    <label for='artist'> Artist: </label>
    <input type='text' name='artist'><br>
    <label for='album_art' name='album_art'> Album Art: </label>
    <input type='file' name='album_art'><br>

    <input type='submit' value='Submit Album'>
</form>
