<title id='page-title'>View Songs</title>
<style>
    .song-info {
        margin: 0px;
    }

    h1, h4 {
        margin-bottom: 0px;
    }

    #play-bar {
        position: fixed;
        bottom: 0px;
        background-color: aliceblue;
        width: 100%;
        height: 5vh;
    }

    #volume {
        position:absolute;
        right: 1vh;
        top: 1vh;
        background-color: white;
        border-radius: 10px;
        display: sticky;
    }

    #current-song {
        margin: auto;
        font-size: 4vh;
        top: 0px;
    }

    #volume-num {
        margin: 0;
        padding: 0;
    }

    #play-button, #pause-button {
        color: #998877;
    }

</style>
<h1 class='white-text text-center'> View Songs </h1>

<div id='volume'>
    <div class='text-center'>volume: </div>
    <div id='volume-num' class='text-center'> 50% </div>
    <input type='range' min='1' max='100' value='50' class='slider' id='volume-slider'>
</div>


<ul class='w-50 text-center mx-auto list-group'>
    {{#each songs}}
    <li class='list-group-item'>
        <div class='song-info'><h1 id='title'>{{this.title}}</h1> by <h4>{{this.artist}}</h4></div>
        <a class='music-button'>
            <i id='{{this.title}}' class='fas fa-play'></i>
        </a>
    </li>
    {{/each}}
</ul>

<span id='play-bar' class='text-center'>
    <p id='current-song' class='play-bar'>currently playing: none</p>
    
    <audio id='song-audio'>
        <source id='song' type='audio/mpeg' src=''>
    </audio>
</span>

<script>
    let playingBar = document.querySelector('#play-bar');
    let audioPlayer = document.querySelector('#song-audio');
    let buttons = document.querySelectorAll('a.music-button');
    let volSlider = document.querySelector('#volume-slider');
    let pageTitle = document.querySelector('#page-title');
    let volNum = document.querySelector('#volume-num');
    let playingSongButton;
    let url = 'http://localhost:3000';
    

    audioPlayer.controls = false;
    audioPlayer.volume = 0.5;

    function pauseMusic() {
        audioPlayer.pause();
        console.log('music paused');
    }

    function playMusic() {
        audioPlayer.play();
        console.log("music unpaused");
    }

    function changePlayingSong(title) {
        console.log(`#${title}`)
        playingSongButton = document.querySelector(`#${title.split(' ').join('-')}`);

        // create pause button

        let playIcon = document.createElement('i');
        playIcon.className = 'fas fa-play';

        let pauseIcon = document.createElement('i');
        pauseIcon.className = 'fas fa-pause';

        let pauseButton = document.createElement('button');
        let pauseButton_text = document.createTextNode(' pause song');
        pauseButton.id = "pause-button"
        pauseButton.appendChild(pauseIcon);
        pauseButton.onclick = pauseMusic;

        let playButton = document.createElement('button');
        let playButton_text = document.createTextNode(' play song');
        playButton.id = "play-button"
        playButton.appendChild(playIcon);
        playButton.onclick = playMusic;

        // change song in bottom bar + add pause button
        playingBar.querySelector('#current-song').innerHTML = `currently playing: ${title}`;
        playingBar.querySelector("#current-song").appendChild(pauseButton);
        playingBar.querySelector("#current-song").appendChild(playButton);
        playingBar.querySelector('#pause-button').addEventListener('onclick', function () {pauseMusic()});

        // change audio tag to change actual music, and start playing it
        audioPlayer.querySelector('#song').src = `${url}/stream/${title}`;
        audioPlayer.load();
        audioPlayer.play();
		
		//make title capitalized
		let capitalizedTitle = title.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
        pageTitle.innerHTML = capitalizedTitle;
    }

    volSlider.oninput = function() {
        audioPlayer.volume = this.value/100;
        volNum.innerHTML = `${this.value}%`;
    }

    buttons.forEach(e => {
        console.log(e)
        let songTitle = e.parentElement.querySelector('.song-info').querySelector('#title').innerHTML;
        e.addEventListener('click', function() { changePlayingSong(songTitle) });
    });
</script>
