<title> Album View </title>

<style>
    .no-bullet {
        list-style-type: none;
    }

    li {
        font-size: 40px;
        text-indent: 2em;
    }

    h1 {
        margin: 10px;
        font-size: 100px;
    }

    a {
        display: inline;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }
    
    .song-title {
        font-size: 4.5vh;
        display: inline;
        text-indent: 2em;
        text-align: center;
    }

    .play-button {
        margin-right: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 33% auto 33%;
        grid-gap: 20px;
        padding-left: 3vh;
        padding-right: 3vh
    }

    .song-block {
        background-color: #334455;
    }

    .playing {
        color: #345;
        text-shadow:
		    -2px -2px 0 #fff,
		     2px -2px 0 #fff,
		    -2px  2px 0 #fff,
		     2px  2px 0 #fff;
    }

    .audiocontrol {
        display: inline;
        color: white;
        font-size: 3vh;
        bottom: 2vh;
        position: relative;
    }

    #info-bar {
        position: sticky;
        bottom: 0px;
        width: 100%;
        background-color: #345;
        font-size: 2.5vh;
        height: 7vh;
        padding-left: 1vw;
    }
    
    #wrapper {
        display: inline-block;
        width: 20%;
    }

    #spacer {
        display:inline;
    }

    #volume {
        display: inline;
        position: absolute;
        right: 1vw;
        bottom: 0.5vh;
    }

    #volume-text {
        font-size: 4vh;
    }
</style>

<audio id='song-audio'>
    <source id='song' type='audio/mpeg' src=''>
</audio>

<h1 class='header white-text inline'> Album View </h1>
<h1 class='header white-text inline'><a href='/app/view/playlists'>Playlist View</a></h1>


<div class='grid-container'>
{{#each albums}}
    <div id='{{this.title}}' class='song-block'>
        <img width='300' height='300' src='{{source_url}}/api/view/{{this.title}}'>
        <h2 class='white-text text-center'>{{this.artist}}: {{this.title}}</h2>
        <ul>
        {{#each this.songs}}
            <li class='song-title white-text'>{{this.title}}</li><br>
        {{/each}}
        </ul>
    </div>
{{/each}}
</div>

<div id="info-bar" class='white-text'>
    <!-- song & album text -->
    <div id="wrapper">
        <div id="current-song"></div>
        <div id="spacer"> </div>
        <div id="current-album"></div>
    </div>

    <div id="spacer"> </div>

    <!-- play and pause buttons -->
    <div class='audiocontrol'>
        <i id='play-button' class='fas fa-play'></i>
    </div>
    <div id="spacer"> </div>
    <div class='audiocontrol'>
        <i id='pause-button' class='fas fa-pause'></i>
    </div>

    <!-- volume control -->
    <div id="volume">
        <div id="volume-text" class='inline'>Volume: </div>
        <input type='range' min='1' max='100'>
    </div>
</div>

<script>
    let songTitles = document.querySelectorAll(".song-title");
    let audioPlayer = document.querySelector("#song-audio");
    let currentSong = document.querySelector("#current-song");
    let currentAlbum = document.querySelector("#current-album");
    let audioControls = document.querySelectorAll(".audiocontrol");
    let volSlider = document.querySelector('#volume').querySelector('input');
    let url = `{{source_url}}`

    function playSong(s, a, e) {
        document.querySelectorAll('.song-title').forEach(e => {
            e.classList.remove('playing');
        })

        e.classList.add('playing');

        let mediaURL = `/api/stream/${a}/${s}`;
        audioPlayer.querySelector("#song").src = mediaURL;
        audioPlayer.load();
        audioPlayer.play();

        currentSong.textContent = s + ' -';
        currentAlbum.textContent = a;

        audioControls.forEach(e =>{ 
            e.style.display = 'inline';
        })
    }

    volSlider.oninput = function() {
        audioPlayer.volume = this.value/100;
    }

    songTitles.forEach(e => {
        console.log('added listener to ' + e.innerHTML)
        e.addEventListener('click', function(){ playSong(e.innerHTML, e.parentElement.parentElement.id, e)});
    })

    document.querySelector("#play-button").addEventListener('click', function() {
        audioPlayer.play();
    })
    document.querySelector("#pause-button").addEventListener('click', function() {
        audioPlayer.pause();
    })

    audioControls.forEach(e => {
        e.style.display = 'none';
    });
    
    
</script>