- var hwin = ['header', 'white-text', 'inline']

head
    title Playlist View
    link(rel='stylesheet', href="http://localhost:3000/public.css")
    script(src="https://kit.fontawesome.com/e96570cfe7.js", crossorigin="anonymous")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css", integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx", crossorigin="anonymous")
    style.
        p {
            font-size: 10vh;
            margin-bottom: 1vh;
        }

        label {
            font-size: 5vh;
            width: 20%;
            display: inline-block;
            height: auto;
        }

        input {
            padding: 0;
            font-size: 5vh;
        }

        h1 {
            margin: 10px;
            font-size: 100px;
        }

h1(class=hwin) 
    a(href='/app/view/album') Album View
h1(class=hwin) Playlist View
h1(class=hwin)
    a(href='/app/view/artistselect') Artist View



//let counter = 0;
//let songs = [];
//
//function nextSong() {
//    audioPlayer.src = songs[counter];
//    audioPlayer.play();
//    counter++;
//}